body {
	background-color: #3b064d;
	color: white;
	font-size: 1.4vw;
	text-align: justify;
}
header, ul, main{
	display: flex;
}
header {
	font-size: 2.1vw;
}
header>div, li, main>div{
	flex-direction: row;
}
main {
	justify-content: space-around;
	/*padding-top: 2em;*/
}
.navlinks {
	text-decoration: none;
	color: white;
	padding: 1.5em;
}
ul>li {
	list-style: none;
}
#title {
	margin-top: 1em;
}
table {
	width: 50vw;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
  font-size: 1em;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption {
	margin: auto;
}
a {
	color: lightblue;
}
ol>li {
	margin-bottom: 10px;
}